@model ProcessoSeletivo.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Categoria</h2>

<h3>Você tem certeza que deseja excluir este registro?</h3>

<fieldset>


    <div class="display-field" hidden>
        @Html.DisplayFor(model => model.idCategoria)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescricaoCategoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescricaoCategoria)
    </div>

    <div class="display-field" hidden>
        @Html.DisplayFor(model => model.idCategoriaPai)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn btn-primary btn-lg"  value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
