@model ProcessoSeletivo.Models.Produto

@{
    ViewBag.Title = "Create";
    var categorias = (IList<ProcessoSeletivo.Models.Categoria>)ViewData["categorias"];
    
}

<h2>Cadastro Produto</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label" hidden>
            @Html.LabelFor(model => model.idProduto)
        </div>
        <div class="editor-field" hidden>
            @Html.EditorFor(model => model.idProduto)
            @Html.ValidationMessageFor(model => model.idProduto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescricaoProduto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescricaoProduto)
            @Html.ValidationMessageFor(model => model.DescricaoProduto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco)
            @Html.ValidationMessageFor(model => model.Preco)
        </div>
        


    @*for (var i = 0; i < categorias.Count; i++)
    {
        <input type="checkbox" value="@categorias[i].idCategoria" id="categoria-@categorias[i].idCategoria"  name="categoria-@categorias[i].idCategoria" />
                <label for="categoria-@categorias[i].idCategoria">@categorias[i].DescricaoCategoria</label>
            }
        }*@
        
        <div class="editor-field">
            @Html.LabelFor(model => model.Categorias, "Categoria")
            @Html.ListBoxFor(model => model.Categorias, new SelectList(categorias, "idCategoria", "DescricaoCategoria"), new { id = "idCategoria" })
        </div>
        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
